#container{
	position: relative;
	max-width: 900px;
	max-height: 1000px;
	margin: auto auto;
}
nav {
	position: absolute;
	top: 0;
	right: -150px;
	height: 100px;
}
#apps {
  background: url("assets/app.png") no-repeat;
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
#apps:hover {
  background: url("assets/app2.png") no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
#IniSesion{
	background-color: rgba(74,134,232,1);
	border-radius: 2px;
	border: none;
	color: #ffffff;
	padding: 7px 5px;
	font-size: 11px;
}

nav a{
	text-decoration: none;
	color: #847e7e;
	font-family: Arial;
	margin-left: 5px;
	font-size: 11px
}

main {
	position:  absolute;
	border: 1px solid black;
	top: 100px;
	left: 150px;
	text-align: center;
	width: 600px;
}

#spain{
		border: 1px solid black;
	position: relative;
	display: inline-block;
	left: -60px;
	top: -5px;
	font-family:  Arial;
	color: rgba(74,134,232,1);

}
#logo{
		border: 1px solid black;

}

#InBusqueda{

	border: 1px solid black;
	padding-top: 15px;
}
#CampoBusqueda{
	width: 400px;
	height: 25px;
}
#Botonera{
	padding: 15px;
}
.Boton{
	background-color: rgba(220, 220, 220, 0.4);
	border: none;
	color: #000000;
	padding: 7px 5px;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
}








#internetSeguro{
	position: relative;

}
#imgsecure{
	height: 50px;
	width: 50px;
	vertical-align: middle;
}

#foot{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
#footL{
	float: left;
}
#footR{
	float: right;
}



/*#publi{
	text-align: left;
}
#priva{
	text-align: right;
	margin-right: 100px;
}

/*arraSuperior{
	border: 1px solid black;
	text-align: right;

}
#apps{
	vertical-align: middle;
	height: 30px;
	width: 30px;
	background-image: url("assets/app.png");
}

#apps:hover
{
	background-image: url("assets/app.png");
}

#barramen{
	text-decoration: none;
	display: inline-block;
	padding: 5px;

}




#bloqueBusqueda{
	border: 1px solid black;
	text-align: center;
	clear: both;	
	padding: 50px;
}



#internetSeguro{
	border: 1px solid black;
	text-align: center;
	font-family: Arial;

}

#googleTambien{
	border: 1px solid black;
	text-align: center;
}

#imgsecure{
	height: 50px;
	width: 50px;
	vertical-align: middle;
}


.css-input 
 { 

 	text-align: left; 
 	border-radius:0px; 
 	font-size:17px; 
 	width: 500px;
 	height: 30px;
 } 
.css-input:focus 
{ 
 -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.16) ;
box-shadow: 0 0 2px 2px rgba(0,0,0,0.16) ;

} 




.boton{
	background-color:#f9f9f9;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:10px;
	padding: 7px 10px;
	text-decoration:none;
	text-shadow:0px 0px 9px #ffffff;
	margin-top: 20px;
	margin-left: 5px;
	font-weight: bold;
}
.boton:hover {
	background-color:#e9e9e9;
	color:#000000;
}
.boton:active {
	position:relative;
	top:1px;
}

#InSesion{

  display: inline-block;
  margin: 2px;
  padding: 5px;
  color: rgba(255,255,255,0.9);
  background: rgba(74,134,232,1);

}



#publi{
	display: inline-block;
	text-align: left;
	background-color: #ffffff;
	width: 49%;
}
#priva{
	display: inline-block;
	text-align: right;
	background-color: #ffffff;
	width: 50%;

	
	
}*/
